body{
    background-color:rgb(6, 6, 61);
}
h1{
    color:white;
    text-align: center;
}
p{
    color: blanchedalmond;
    text-align: center;
    margin-top: 200px;
    font-size: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box1{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;

}
.box2{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;
}
.box3{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;
}.box4{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;
}
.box5{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;
}
.box6{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;
}
.box7{
    height: 100px;
    width: 100px;
    border: 2px solid gold;
    margin: 20px;
    border-radius: 10px;
}
img{
    height: 100px;
    width: 100px;
}
@media only screen and (max-width: 600px) {
    .container{
        flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 600px) {
    h1{
        font-size:1rem ;
    }

  }
 